html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background: $darkCyan;
  justify-content: center;
  align-items: center;
}
