.card {
  margin: 5.5rem 1.5rem;
  padding: 0;
  width: 87vw;
  max-width: 326px;
  background-color: $darkDesaturatedBlue;

  border-radius: 12px;

  text-align: center;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  text-align: center;
  font-weight: 400;

  &__img {
    background-image: url("../images/image-header-mobile.jpg");
    background-size: cover;
    width: 100%;
    height: 30vh;
    .overlay {
      width: 100%;
      height: 100%;
      position: inherit;
      background-color: #6c00a7;
      opacity: 0.6;
    }
  }

  &__info {
    margin: 2.75rem 2.215rem 2.5rem;
    &__title {
      margin-bottom: 1.375rem;
      font-size: 1.5rem;
      font-weight: 700;

      span {
        color: $softViolet;
      }
    }

    &__disc {
      color: $slightlyTransparentWhite;
      line-height: 1.5rem;
    }
  }

  &__stats {
    margin-top: 1.3333rem;

    .stat {
      &:not(:last-child) {
        margin-bottom: 2.25rem;
      }

      &__label {
        margin-top: 1rem;
        color: $slightlyTransparentWhite;
        font-size: 0.75rem; // 12px
        font-family: "Lexend Deca";
        text-transform: uppercase;
      }

      &__value {
        font-size: 1.125rem; // 18px
        font-weight: 700;
      }
    }
  }
}

@media (min-width: 1024px) {
  .card {
    margin: 0;
    width: 77vw;
    max-width: 1200px;
    // max-height: 446px;
    // aspect-ratio: 5/2;

    flex-direction: row;

    &__img {
      order: 3;
      width: 100%;
      height: auto;
      background-image: url(../images/image-header-desktop.jpg);
    }

    &__info {
      margin: 0;
      padding: 4.875rem 7.625rem 4.125rem 4.5rem;
      width: 75%;
      text-align: left;

      display: flex;
      flex-direction: column;

      &__title {
        font-size: 1.9rem;
      }

      &__disc {
        margin-top: 2rem;
      }
    }

    &__stats {
      margin-top: 5rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .stat {
        margin-bottom: 0;
      }
    }
  }
}
