@use 'variables' as *;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  height: 100vh;

  background-color: $veryDarkBlue;
  color: white;

  font-family: "Inter", sans-serif;
  font-size: $font-med;
}

.attribution {
  margin-top: 2rem;
  position: relative;
  color: white;
  text-align: center;

  a {
    padding: 0.4rem 0.2rem 0.2rem;
    color: $bananaYellow;
    text-decoration: none;
    transition: all 0.2s ease-in;
  }

  a:hover,
  a:focus {
    color: $veryDarkBlue;
    background-color: $bananaYellow;
    border-radius: 5px;
  }
}
